
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened="true"  #drawer>
  	<div style="" id="coverp">
	<div style="" id="fullname">
		<table>
			<tr>
				<td width="60px">
	  			<img [src]="image" width="50" id="photop" onError="this.src='assets/noimage.jpg'"/>
				</td>
				<td style="text-align: left" >
				  {{user.fname}} {{user.mname}} {{user.surname}} {{user.ext}}<br>
          <small *ngIf="global.useraccess!=undefined">{{global.useraccess.companyname}}</small>
				</td>
			</tr>
		</table>
	</div> 
</div>
  	<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <i class="material-icons iconsize" >home</i><b>&nbsp; Home</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <i class="material-icons iconsize" >assessment</i><b>&nbsp; Proposal</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
		<mat-list>
		  <mat-list-item><button mat-button  [routerLink]="['../main',{outlets:{div:'new-proposal'}}]" >Create Capsule Proposal</button></mat-list-item>
		  <mat-divider></mat-divider>
		  <mat-list-item><button mat-button  [routerLink]="['../main',{outlets:{div:'proposals'}}]" >Proposals</button></mat-list-item>
		</mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <i class="material-icons iconsize" >chrome_reader_mode</i><b>&nbsp; Research</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
		<mat-list>
		  <mat-list-item><button mat-button [routerLink]="['../main',{outlets:{div:'new-research'}}]" >Submit Research</button></mat-list-item>
		  <mat-divider></mat-divider>
		  <mat-list-item><button mat-button [routerLink]="['../main',{outlets:{div:'researches'}}]" >Researches</button></mat-list-item>
		</mat-list>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <i class="material-icons">settings_applications</i><b>&nbsp; Control Panel</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item><button mat-button  [routerLink]="['../main',{outlets:{div:'discipline'}}]">Discipline</button></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><button mat-button>Classification Type</button>
      </mat-list-item>
      <mat-divider></mat-divider> 
      <mat-list-item><button mat-button>Mode of Implementation</button></mat-list-item>
      <mat-divider></mat-divider> 
      <mat-list-item><button mat-button  [routerLink]="['../main',{outlets:{div:'user-management'}}]">User Management</button></mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-expansion-panel>


</mat-accordion>

  </mat-drawer>
  <mat-drawer-content>
  	<div style="margin-left: 10px;margin-top: 8px;" class="hnav">

    </div>
    <style type="text/css">
.matcontainer{overflow-y: scroll;}</style>
  	<mat-card class="matcontainer" style="padding: 0;overflow: hidden;"> 

    <router-outlet name="div"></router-outlet>
		
  	</mat-card></mat-drawer-content>
</mat-drawer-container>
