#new-proposal{

	.npinput{
		width: 100%
	}
	.npinput2{
		width: 45%
	}

	div.mat-checkbox-inner-container{
		margin-right: 10px !important;
	}
}
	.mat-form-field-infix {
		width: 100px !important;
	} 