<div id='proposals' style="padding:20px" >
  <h3>Proposals</h3>
  <hr>

<table style="width: 97%;margin: auto;">
  <tr><td>

            <mat-form-field  class="npinput2" style="width: 237px" required>
              <mat-label>Filter by:</mat-label>
              <mat-select >
                <mat-option value="3">
                 status
                </mat-option>
                <mat-option value="3">
                 submitted
                </mat-option>
              </mat-select>
            </mat-form-field>
</td>
    <td style="text-align: right;width: 237px" >
       <mat-form-field style="width: 180px !important">
              <mat-label>Search:</mat-label>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        <button mat-mini-fab color="primary">
          <mat-icon><mat-icon>filter_list</mat-icon></mat-icon>
        </button>
    </td>
  </tr>
</table>
    


    <mat-table #table [dataSource]="dataSource" matSort>

   <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Project Title</mat-header-cell>
      <mat-cell *matCellDef="let element">
      <div class="rolerow">
       <b>{{element.GeneralTitle}}</b> <br>
        <div class="action">
      <a href="javascript:void(0)" class="actionlink" (click)="openDialogUpdate(element.id)"> Update Proposal</a> | <a href="javascript:void(0)" class="actionlink" style="color: orange" (click)="removeRole(element.id)">
        Remove</a>
    </div>
    </div>
    </mat-cell>
    </ng-container>

   <ng-container matColumnDef="fagency">
      <mat-header-cell *matHeaderCellDef> Funding Agency </mat-header-cell>
      <mat-cell *matCellDef="let element">
      <div class="rolerow">
       <b>{{element.FundingAgency}}</b>
    </div>
    </mat-cell>
    </ng-container>

   <ng-container matColumnDef="datecreated">
      <mat-header-cell *matHeaderCellDef > Date Created </mat-header-cell>
      <mat-cell *matCellDef="let element">
      <div class="rolerow">
       <b>{{element.datecreated| date :'mediumDate'}} @ {{element.datecreated| date :'shortTime'}}</b>
    </div>
    </mat-cell>
    </ng-container>

   <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef  style="width: 150px;flex: 0 0 75px;"> Status </mat-header-cell>
      <mat-cell *matCellDef="let element" style="width: 150px;flex: 0 0 75px;">
      <div class="rolerow">
       <b>{{element.status[0].name}}</b>
    </div>
    </mat-cell>
    </ng-container>


          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
        <mat-paginator 
             #paginator
            [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>

</div>

